---
export interface Props {
	readonly link: URL;
	readonly title: string;
	readonly description: string;
	readonly style: "cyan" | "pink";
}

const { link, title, description, style } = Astro.props;
---

<article class={style}>
	<a href={link.toString()} title={title}>
		<slot />

		<h3>{title}</h3>

		<p>{description}</p>
	</a>
</article>

<style lang="scss">
	@use "../styles/variables";

	article {
		display: flex;
		justify-self: stretch;
		border-radius: 1rem;
		background-image: linear-gradient(to bottom right, var(--gradient-from), var(--gradient-to));
	}

	.cyan {
		background-image: linear-gradient(to bottom right, variables.$purple, variables.$cyan);
	}

	.pink {
		background-image: linear-gradient(to bottom right, variables.$yellow, variables.$pink);
	}

	a {
		background-color: variables.$background;
		margin: 0.25rem;
		display: block;
		border-radius: 1rem;
		padding: 0.75rem;
		text-align: center;
		color: variables.$foreground;
		text-decoration: none;
		width: 100%;
	}

	h3 {
		display: inline;
		background-image: linear-gradient(to right, variables.$purple, variables.$cyan);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	p {
		display: inline;
	}
</style>
