---
import { getPicture } from "@astrojs/image";
import PageShell from "../layouts/PageShell.astro";
import Header from "../layouts/Header.astro";
import Body from "../layouts/Body.astro";
import Footer from "../layouts/Footer.astro";
import About from "../about/About.astro";
import Skills from "../skills/Skills.astro";
import Passions from "../passions/Passions.astro";
import Statistics from "../statistics/Statistics.astro";
import Resume from "../resume/Resume.astro";
import Contact from "../contact/Contact.astro";
import headerImageSmall from "../images/header-01-small.jpg";
import headerImage from "../images/header-01.jpg";

const headerPictureSmall = await getPicture({
	formats: ["avif", "webp"],
	src: headerImageSmall,
	alt: "Header image",
	widths: [750, 1061]
});

const headerPicture = await getPicture({
	formats: ["avif", "webp"],
	src: headerImage,
	alt: "Header image",
	widths: [750, 1080, 1366, 1920]
});
---

<PageShell>
	<Header withBottomBorder={false}>
		<figure
			class="relative overflow-hidden bg-gradient-to-b from-dracula-cyan border-t border-b border-dracula-purple h-64 sm:h-4/5"
		>
			<picture class="object-top sm:object-center">
				{
					headerPictureSmall.sources.map((source) => {
						return (
							<source
								type={source.type}
								media="(max-width: 639px)"
								srcset={source.srcset}
								sizes="100vw"
							/>
						);
					})
				}
				{
					headerPicture.sources.map((source) => {
						return <source type={source.type} srcset={source.srcset} sizes="100vw" />;
					})
				}
				<img
					src={(headerPicture.image as unknown as { src: string }).src}
					width={headerPicture.image.width}
					height={headerPicture.image.height}
					decoding="sync"
					alt="Christian Rackerseder"
					class="mix-blend-luminosity"
				/>
			</picture>
		</figure>
		<div
			class="relative -mt-11 sm:absolute sm:bottom-4 lg:bottom-8 sm:right-4 lg:right-8 bg-dracula-darker border border-dracula-dark border-solid rounded-md shadow-md shadow-dracula-darker bg-opacity-90 max-w-screen-sm pb-10 lg:pb-16 xl:pb-24 w-4/5 sm:w-auto m-auto"
		>
			<div class="bg-dracula-dark relative flex flex-row justify-center h-4 md:h-7 mb-2 p-2 rounded-t-md">
				<div class="flex flex-row absolute top-1 md:top-2 left-2 space-x-1 md:space-x-2">
					<div class="bg-dracula-red h-2 md:h-3 w-2 md:w-3 rounded-full"></div>
					<div class="bg-yellow h-2 md:h-3 w-2 md:w-3 rounded-full"></div>
					<div class="bg-dracula-green h-2 md:h-3 w-2 md:w-3 rounded-full"></div>
				</div>
			</div>
			<code class="block px-2 md:px-4 text-base sm:mr-10 lg:mr-20 xl:mr-32">
				<p class="text-dracula-light mb-1">$ whoami</p>
				<p class="text-transparent bg-clip-text bg-gradient-to-r from-dracula-pink to-dracula">Christian</p>
				<p class="text-dracula-light mb-1">$ groups</p>
				<p class="text-transparent bg-clip-text bg-gradient-to-r from-dracula-pink to-dracula">
					Full-Stack Software Engineer
				</p>
				<p
					class="flex items-center gap-2 text-dracula-light after:relative after:inline-block after:w-2 after:h-6 after:bg-dracula-light after:animate-cursor-blink"
				>
					$
				</p>
			</code>
		</div>
	</Header>

	<Body>
		<main class="flex-grow flex-shrink-0 basis-auto text-dracula-light">
			<About />
			<Skills />
			<Passions />
			<Statistics />
			<Resume />
			<Contact />
		</main>
	</Body>

	<Footer />
</PageShell>
