---
import { getCollection } from "astro:content";
import BlogArchiveList from "../../../blog/BlogArchiveList.astro";
import BlogArchiveNavigation from "../../../blog/BlogArchiveNavigation.astro";
import BlogArchiveSection from "../../../blog/BlogArchiveSection.astro";
import BlogBackLink from "../../../blog/BlogBackLink.astro";
import BlogEmptyState from "../../../blog/BlogEmptyState.astro";
import BlogIndexEntry from "../../../blog/BlogIndexEntry.astro";
import BlogShell from "../../../blog/BlogShell.astro";
import { createBlogPostTopicArchiveEntries } from "../../../blog/blog-post-topics.js";
import {
	createAbsoluteAssetUrl,
	createBlogRssFeedAbsoluteUrl,
	createBlogTopicIndexAbsoluteUrl
} from "../../../blog/blog-site.js";
import headerImage from "../../../assets/images/header-01.jpg";

const blogCollection = await getCollection("blog");
const topicArchiveEntries = createBlogPostTopicArchiveEntries(blogCollection);
const blogTopicIndexUrl = createBlogTopicIndexAbsoluteUrl(Astro.site);
const blogRssFeedUrl = createBlogRssFeedAbsoluteUrl(Astro.site);
const openGraphImageUrl = createAbsoluteAssetUrl(Astro.site, headerImage.src);
const openGraphImageAlternativeText = "echooff.dev header illustration";
const topicCount = topicArchiveEntries.length;
let topicCountLabel = `${topicCount} topics available`;

if (topicCount === 1) {
	topicCountLabel = "1 topic available";
}
---

<BlogShell
	canonicalUrl={blogTopicIndexUrl}
	description="Browse echooff.dev blog posts by curated software engineering topic."
	openGraphImageAlternativeText={openGraphImageAlternativeText}
	openGraphImageUrl={openGraphImageUrl}
	openGraphPublishedTime=""
	openGraphType="website"
	openGraphUrl={blogTopicIndexUrl}
	rssFeedUrl={blogRssFeedUrl}
	robots="index,follow,max-image-preview:large"
	title="Blog Topics | Christian Rackerseder"
	twitterCardType="summary_large_image"
	pageTitle="Blog Topics"
	intro="Curated topic archives for software engineering posts."
	terminalCommand="$ ls /blog/topics"
	terminalOutput={topicCountLabel}
>
	<BlogArchiveSection label="Blog topics">
		<BlogArchiveNavigation label="Blog">
			<BlogBackLink href="/blog">Back to Blog</BlogBackLink>
		</BlogArchiveNavigation>

		{
			topicArchiveEntries.length > 0 ? (
				<BlogArchiveList>
					{topicArchiveEntries.map((topicArchiveEntry) => (
						<li>
							<BlogIndexEntry
								description={topicArchiveEntry.description}
								href={`/blog/topics/${topicArchiveEntry.slug}`}
								title={topicArchiveEntry.label}
							>
								<Fragment slot="footer">
									{topicArchiveEntry.postCount === 1
										? "1 post"
										: `${topicArchiveEntry.postCount} posts`}
								</Fragment>
							</BlogIndexEntry>
						</li>
					))}
				</BlogArchiveList>
			) : (
				<BlogEmptyState>No blog topics available yet.</BlogEmptyState>
			)
		}
	</BlogArchiveSection>
</BlogShell>
