---
import { Image } from "astro:assets";
import { Schema } from "astro-seo-schema";
import { icons } from "feather-icons";
import { getCollection, render } from "astro:content";
import BlogShell from "../../blog/BlogShell.astro";
import LocalizedDateTime from "../../blog/LocalizedDateTime.astro";
import LocalizedDateTimeScript from "../../blog/LocalizedDateTimeScript.astro";
import Webmentions from "../../blog/Webmentions.astro";
import { getBlogPostTopicDetails } from "../../blog/blog-post-topics.js";
import { createBlogPostPageTitle, sortBlogPostsByPublicationDateDescending } from "../../blog/blog-posts.js";
import {
	createAbsoluteAssetUrl,
	createBlogPostAbsoluteUrl,
	createBlogRssFeedAbsoluteUrl,
	getConfiguredSiteUrlOrThrow
} from "../../blog/blog-site.js";
import { createEmptyWebmentionSectionModel, loadWebmentionsForTargetUrl } from "../../blog/webmentions.js";
import aboutImage from "../../assets/images/about.jpg";
import headerImage from "../../assets/images/header-01.jpg";

export async function getStaticPaths() {
	const blogPosts = sortBlogPostsByPublicationDateDescending(await getCollection("blog"));

	return blogPosts.map((blogPost) => ({
		params: {
			slug: blogPost.id
		},
		props: {
			blogPost
		}
	}));
}

const { blogPost } = Astro.props;
const { Content } = await render(blogPost);
const configuredSiteUrl = getConfiguredSiteUrlOrThrow(Astro.site);
const blogPostUrl = createBlogPostAbsoluteUrl(configuredSiteUrl, blogPost.id);
const blogRssFeedUrl = createBlogRssFeedAbsoluteUrl(configuredSiteUrl);
const openGraphImageUrl = createAbsoluteAssetUrl(configuredSiteUrl, headerImage.src);
const openGraphImageAlternativeText = "echooff.dev header illustration";
const topicDetails = getBlogPostTopicDetails(blogPost.data.topic);
const siteUrl = configuredSiteUrl.toString();
let webmentionSectionModel = createEmptyWebmentionSectionModel();

try {
	webmentionSectionModel = await loadWebmentionsForTargetUrl(
		{
			fetch
		},
		blogPostUrl
	);
} catch (error: unknown) {
	console.warn(`Unable to load webmentions for "${blogPostUrl}" during build`, error);
}
---

<BlogShell
	canonicalUrl={blogPostUrl}
	description={blogPost.data.description}
	openGraphImageAlternativeText={openGraphImageAlternativeText}
	openGraphImageUrl={openGraphImageUrl}
	openGraphPublishedTime={blogPost.data.publishedAt}
	openGraphType="article"
	openGraphUrl={blogPostUrl}
	rssFeedUrl={blogRssFeedUrl}
	robots="index,follow,max-image-preview:large"
	title={createBlogPostPageTitle(blogPost.data.title)}
	twitterCardType="summary_large_image"
	pageTitle="Blog"
	showPageHeader={false}
>
	<Fragment slot="search-engine-optimization-schema">
		<Schema
			item={{
				"@context": "https://schema.org",
				"@type": "BlogPosting",
				author: {
					"@type": "Person",
					name: "Christian Rackerseder",
					url: siteUrl
				},
				datePublished: blogPost.data.publishedAt,
				description: blogPost.data.description,
				headline: blogPost.data.title,
				image: openGraphImageUrl,
				articleSection: topicDetails.label,
				mainEntityOfPage: blogPostUrl,
				publisher: {
					"@type": "Person",
					name: "Christian Rackerseder",
					url: siteUrl
				},
				url: blogPostUrl
			}}
		/>
	</Fragment>

	<article class="blog-article h-entry">
		<header class="blog-article-header">
			<div class="blog-article-top-row">
				<nav aria-label="Blog">
					<p class="blog-back-link-wrapper">
						<a class="blog-back-link" href="/blog">
							<Fragment set:html={icons["arrow-left"]?.toSvg({ class: "blog-back-link-icon" })} />
							<span>Back to Blog</span>
						</a>
					</p>
				</nav>

				<figure class="blog-article-avatar h-card">
					<a class="u-url" href={siteUrl}>
						<Image
							alt="Christian Rackerseder"
							class="blog-article-avatar-image u-photo"
							height={88}
							src={aboutImage}
							quality={75}
							width={88}
						/>
					</a>
					<span class="blog-screen-reader-only p-name">Christian Rackerseder</span>
				</figure>
			</div>
			<h1 class="p-name">{blogPost.data.title}</h1>
			<p class="blog-meta">
				Published{" "}
				<time class="dt-published" datetime={blogPost.data.publishedAt}>
					<LocalizedDateTime publishedAt={blogPost.data.publishedAt} />
				</time>{" "}
				in <a class="blog-topic-link" href={`/blog/topics/${topicDetails.slug}`}>{topicDetails.label}</a>
			</p>
			<a class="u-url blog-screen-reader-only" href={blogPostUrl}> Permalink </a>
		</header>

		<section class="blog-prose e-content" aria-label="Blog post content">
			<Content />
		</section>

		<Webmentions webmentionSectionModel={webmentionSectionModel} />
	</article>

	<LocalizedDateTimeScript />
</BlogShell>
