---
import { icons } from "feather-icons";
---

<section>
	<h3>
		Passions
		<Fragment set:html={icons.heart?.toSvg()} />
	</h3>

	<hr />

	<article>
		<div>
			<Fragment set:html={icons.activity?.toSvg()} />
			<p>Agile</p>
		</div>

		<div>
			<Fragment set:html={icons.compass?.toSvg()} />
			<p>Clean Code</p>
		</div>

		<div>
			<Fragment set:html={icons.zap?.toSvg()} />
			<p>Performance</p>
		</div>

		<div>
			<Fragment set:html={icons.server?.toSvg()} />
			<p>Serverless</p>
		</div>

		<div>
			<Fragment set:html={icons.layers?.toSvg()} />
			<p>Jamstack</p>
		</div>

		<div>
			<Fragment set:html={icons.cloud?.toSvg()} />
			<p>Cloud</p>
		</div>

		<div class="last-item">
			<Fragment set:html={icons.check?.toSvg()} />
			<p>TDD</p>
		</div>
	</article>
</section>

<style lang="scss">
	@use "../styles/variables";
	@use "../styles/mixins";

	section {
		padding: 1rem;

		@media (min-width: variables.$large-width) {
			padding: 2.5rem;
		}
	}

	h3 {
		@include mixins.heading;

		:global(svg) {
			@include mixins.heading-icon;
		}
	}

	hr {
		@include mixins.divider;
	}

	article {
		margin: auto;
		display: grid;
		max-width: variables.$large-width;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.5rem;

		@media (min-width: variables.$small-width) {
			padding: 1rem;
		}

		@media (min-width: variables.$medium-width) {
			grid-template-columns: repeat(3, 1fr);
		}

		div {
			background-color: variables.$selection;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			border-radius: 0.25rem;
			padding: 0.75rem 0;

			:global(svg) {
				color: variables.$green;
				margin-right: 0.25rem;
			}
		}

		div:last-of-type {
			grid-column: span 2;

			@media (min-width: variables.$medium-width) {
				grid-column: span 3;
			}
		}
	}
</style>
