---
import { icons } from "feather-icons";
import { parseResumeData } from "./data-schema";
import resumeDate from "./resumeData.json";
import { formatSinceDate } from "./date";

const parsedResumeResult = parseResumeData(resumeDate);

if (parsedResumeResult.isErr) {
	throw new Error(parsedResumeResult.error);
}

const resume = parsedResumeResult.value;
---

<section class="p-4 lg:p-10">
	<h3
		class="flex items-center lg:items-end justify-center gap-x-2 text-dracula-cyan lg:leading-none text-2xl lg:text-4xl font-extrabold my-2"
	>
		Resume
		<Fragment set:html={icons["file-text"]?.toSvg({ class: "text-dracula-light w-6 h-6 lg:w-9 lg:h-9" })} />
	</h3>
	<hr
		class="h-2 w-1/2 border-none mb-4 m-auto bg-dracula-red bg-gradient-to-br from-yellow to-dracula-pink rounded-lg"
	/>
	<ol class="w-4/5 ml-1/12 sm:px-4 sm:pt-4">
		{
			resume.map((job) => {
				const sinceDateFormatted = formatSinceDate(job.since, job.showOnlyYear);

				return sinceDateFormatted.mapOr(null, (sinceDate) => {
					return (
						<li class="group relative pl-10 md:grid md:grid-cols-[0.5fr_auto_1fr] md:gap-x-7 md:justify-between md:justify-items-start md:pl-0">
							<p class="uppercase text-xs mb-1 tracking-widest text-dracula-green md:justify-self-end">
								{sinceDate}
							</p>
							<div class="absolute top-1 left-0 bottom-0 before:block before:bg-dracula-orange before:group-hover:bg-transparent before:border-3 before:border-solid before:border-dracula-orange before:rounded-full before:w-4 before:h-4 before:transition-colors before:duration-300 before:ease-in-out after:block after:bg-dracula-blue after:w-1 after:absolute after:top-6 after:bottom-1 md:after:bottom-2 after:left-1.5 md:relative after:group-last:hidden" />
							<div class="pb-10">
								<h3 class="text-lg leading-none">{job.jobTitle}</h3>
								<h4 class="text-dracula-green">
									<a href={job.company.url} class="transition-colors hover:text-dracula-purple">
										{job.company.name}
									</a>
									<span class="text-dracula-blue"> ({job.industry})</span>
								</h4>
								<p class="text-sm">{job.jobDescription}</p>
							</div>
						</li>
					);
				});
			})
		}
	</ol>
</section>
