---
import { icons } from "feather-icons";
import { parseResumeData } from "./data-schema";
import resumeDate from "./resumeData.json";
import { formatSinceDate } from "./date";

const parsedResumeResult = parseResumeData(resumeDate);

if (parsedResumeResult.isErr) {
	throw new Error(parsedResumeResult.error);
}

const resume = parsedResumeResult.value;
---

<section class="p-4 lg:p-10">
	<h3
		class="text-dracula-cyan my-2 flex items-center justify-center gap-x-2 text-2xl font-extrabold lg:items-end lg:text-4xl lg:leading-none"
	>
		Resume
		<Fragment set:html={icons["file-text"]?.toSvg({ class: "text-dracula-light w-6 h-6 lg:w-9 lg:h-9" })} />
	</h3>
	<hr
		class="bg-dracula-red from-dracula-yellow to-dracula-pink m-auto mb-4 h-2 w-1/2 rounded-lg border-none bg-gradient-to-br"
	/>
	<ol class="mx-auto w-4/5 sm:px-4 sm:pt-4">
		{
			resume.map((job) => {
				const sinceDateFormatted = formatSinceDate(job.since, job.showOnlyYear);

				return sinceDateFormatted.mapOr(null, (sinceDate) => {
					return (
						<li class="group relative pl-10 md:grid md:grid-cols-[0.5fr_auto_1fr] md:justify-between md:justify-items-start md:gap-x-7 md:pl-0">
							<p class="text-dracula-green mb-1 text-xs tracking-widest uppercase md:justify-self-end">
								{sinceDate}
							</p>
							<div class="before:border-dracula-orange before:bg-dracula-orange after:bg-dracula-blue absolute top-1 bottom-0 left-0 before:block before:h-4 before:w-4 before:rounded-full before:border-3 before:border-solid before:transition-colors before:duration-300 before:ease-in-out before:group-hover:bg-transparent after:absolute after:top-6 after:bottom-1 after:left-1.5 after:block after:w-1 after:group-last:hidden md:relative md:after:bottom-2" />
							<div class="pb-10">
								<h3 class="text-lg leading-none">{job.jobTitle}</h3>
								<h4 class="text-dracula-green">
									<a href={job.company.url} class="hover:text-dracula-purple transition-colors">
										{job.company.name}
									</a>
									<span class="text-dracula-blue"> ({job.industry})</span>
								</h4>
								<p class="text-sm">{job.jobDescription}</p>
							</div>
						</li>
					);
				});
			})
		}
	</ol>
</section>
